
/* universal */
.bebasFont {
    font-family: 'Bebas Neue',
        cursive;
}

.robotoFont {
    font-family: 'Roboto',
        sans-serif;
}

.montFont {
    font-family: 'Montserrat',
        sans-serif;
}

.buyButton {
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    border-radius: 10px;
}

/* end */
/* navbar */
.navText {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3C3C3C;
}

.topnav .icon {
    display: none;
    /* padding: 0 8px; */
    font-size: 25px;

    border-radius: 8px;

}


@media screen and (max-width: 600px) {
    .topnav a {
        display: none;
    }

    .topnav {
        background: #FFFBEB;
    }

    .topnav a.icon {
        float: right;
        display: block;
        padding: 0 2%;

    }


    .heroTitle {
        padding-top: 55px;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
        background: #FFFBEB;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        font-size: 19px;
        margin-top: 15px;
        text-align: center;

    }
}

/* sections home
*/
/* .homeSection {
    background: #fffaeb;
} */
.darkyellowTitle {
    color: #FABE4C;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
}

.nevyTitle {
    color: #363959;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
}

/* product section
 */
#productSection {
    background: #E5E5E5;
}